.notFound {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.notFound > :first-child {
  text-align: center;
  margin: 5rem auto;
}

.notFound h1 {
  font-size: 130px;
}

.notFound p {
  font-size: 50px;
}
